@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* @import "bootstrap/dist/css/bootstrap.min.css"; */

* {
    font-family: "Noto Sans", sans-serif;
}

/* .noto-sans-regular
{
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-variation-settings:"wdth" 100;
} */

body {
    margin: 0px;

}

.app-header {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    position: fixed;
    width: 100%;
    background-color: #fff;
    /* overflow: hidden; */

    /* position: sticky;
    top: 0;
    overflow: hidden; */



}

.container {
    width: 80%;
    margin: 0 auto;

}

.d-flex {
    display: flex;


}

.d-flex h1 {
    color: rgb(31, 92, 95);
}

.align-item-center {
    align-items: center;
}

.justify-content-between {
    justify-content: space-between;
}

.app-menu li {
    display: inline;
}

.material-symbols-outlined {
    vertical-align: bottom;
}

.app-menu li a {
    text-decoration: none;
    padding: 10px 12px;
    font-size: 18px;
    font-weight: bold;
    color: #42999e;
    text-transform: capitalize;
    transition: .4s all ease;
}

.app-menu li a:hover {
    color: black;
}

.btn {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 12px 30px;
    border-radius: 25px;
    border: none;
    cursor: pointer;

}

.btn-contact {
    background-color: rgb(31, 92, 95);
    color: white;

}

.btn-contact:hover {
    background-color: #42999e;
}

.banner {
    /* background-image: url(./assets/images/hero_bg.png); */
    background-image: url(https://live.designtocodes.com/OnePage/NextGenAppsPro/assets/images/hero_bg.png);
    height: calc(100vh - 87px);
    /* margin-top: 10px; */
}


.hd h1 {
    font-size: 60px;
    color: #42999e;

}

.hd h2 {
    font-size: 35px;
    color: #42999e;

}

.hd h3 {
    font-size: 20px;
    color: #42999e;

}

.wt-35 {
    width: 35%;
}

.wt-40 {
    width: 40%;
}

.wt-50 {
    width: 65%;
}

.wt-100 {
    width: 100%;
}

.ht-100 {
    height: 100%;
}

.learn-more {
    color: white;
    background-color: #42999e;

}

.learn-more:hover {
    background-color: rgb(31, 92, 95);
}

.opacity {
    opacity: 0.7;
}

.ml {
    margin-left: 5%;
}

.mr {
    margin-right: 10%;
}

.mb {
    margin-bottom: 5rem;
}

.mt {
    margin-top: 86px;
}

.text-center {
    text-align: center;
}

.mb-0 {
    margin-bottom: 0;
}

.mt-0 {
    margin-top: 0;
}

.flx {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;


}

.box {
    width: 170px;
    border: 0.5px solid rgb(31, 92, 95);
    border-radius: 5px;
    padding: 20px;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    color: rgb(31, 92, 95);
    margin-left: 2rem;
    margin-bottom: 2rem;
    text-align: center;


}

label:hover {
    color: white;
    background-color: rgb(31, 92, 95);
}

.skillbtn {
    width: 130px;
    height: 130px;
    padding: 20px;
    border: 10px solid rgb(195, 229, 231);
    border-radius: 130px;
    margin-left: 20px;
    margin-bottom: 30px;
    color: white;
    background-color: rgb(31, 92, 95);
    font-size: 20px;
    font-weight: 600;
}

.skill button:hover {
    border: 10px solid rgb(130, 169, 172);
}

.portwidth {
    width: 800px;
}

.justify-content-ceneter {
    justify-content: center;
}

.flex-wrp {

    flex-wrap: wrap;
    flex-direction: row;
}

.mr-2 {
    margin: 2%
}

.portimg img:hover {
    cursor: pointer;


}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 2rem;

}

.card-body {
    padding: 2rem;
    background-color: #e7f2f366;
    border: 1px solid rgb(91, 222, 226);

}

.wt-48 {
    width: 48%;
}

.contact-input {
    background: #ffffff;
    color: rgba(108, 108, 108, 0.75);
    font-size: 16px;
    font-weight: 400;
    padding: 14px 16px;
    border: 1px solid rgb(141, 230, 233);
    margin-bottom: 25px;
    box-shadow: 0px 0px 24px 0px rgba(19, 128, 134, 0.07);
    width: 90%;
}

.contbtn button {
    position: relative;
    left: 225px;
}

/* .lobster-regular {
    font-family: "Lobster", sans-serif;
    font-weight: 200;
    font-style: normal;
  } */

/* .name h1:hover{
    font-family: "Lobster", sans-serif;
    font-weight: 200;
    color: white;
    text-shadow:
        0 0 5px #1abc9c,
        0 0 25px #1abc9c,
        0 0 50px #1abc9c,
        0 0 75px #1abc9c,
        0 0 100px #1abc9c;
  } */

.name h1 {
    color: rgb(15, 227, 235);
    font-size: 25px;
    cursor: pointer;
    animation: glow 4s ease infinite;
}

@keyframes glow {
    from {
        color: #08e6ee;
        /* rgb(241, 239, 84) */
        /* text-shadow: */
        /* 0 0 5px #07f1de,
        0 0 25px #07f1de; */
    }

    to {
        color: #da09d0;
        text-shadow:
            0 0 5px #f0cd0a,
            0 0 25px #f0cd0a;
            /* 0 0 50px #f0cd0a; */
            /* 0 0 100px #006266; */

    }
}